{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
{% endblock %}

{% block title %}Wiadomości{% endblock %}

{% block body %}
    <h1>Wiadomości</h1>
    <a href="{{ path('message_new') }}" class="btn btn-primary mb-2">Dodaj wiadomość</a>
    <table class="table table-striped table-hover align-middle" id="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nadawca</th>
            <th>Treść</th>
            <th>Data</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.sender }}</td>
                <td>{{ message.content }}</td>
                <td style="width:100px;">{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td style="width:150px;">
                    <a href="{{ path('message_show', {'id': message.id}) }}" class="btn btn-primary">Pokaż</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}" class="btn btn-warning">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak wiadomości w bazie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-5"></div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready( function () {
            $('#table').DataTable(
                {   language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.11.4/i18n/pl.json'
                    },
                    columns: [
                        null,
                        null,
                        null,
                        null,
                        { orderable: false },
                    ]
                }
            );
        } );
    </script>
{% endblock %}